<!-- LOGGED IN MENU BAR -->
<nav id="menubar">
    <ul class="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/account-info">Profile</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li class="back-to-top"><a href="#top">Back to Top &#9650;</a> </li>
    </ul>
</nav>