<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <p>
                    Your account under the email
                    <strong><%= email %></strong>
                    is unverified.
                </p>
                <% if(sendingVerificationEmail) { %>
                <p>
                    Please verify your account by clicking on the link sent to your email, which should arrive shortly.
                </p>
                <% } %>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% include ../../partials/navbar %>

</html>
