<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                changing password and stuff
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% if(logged_in) { %>
<% include ../partials/navbar_loggedin %>
<% } else { %>
<% include ../partials/navbar %>
<% } %>

</html>
