<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript" src="/js/editing_ux.js"></script>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <div>Add a new biomarker to Markerville!<br><br></div>
                <form id="editing-ux" method="post">
                    <div id="biomarker_editing_section">
                        <span class="editing_header">Biomolecule Names<br><br></span>
                        <ul id="name_editing_section" class="editing_lists">
                            <li id="name_inputs">
                                <span style="font-weight: bold;">Primary Name: &nbsp;</span>
                                <span><input type="text" name="biomoleculeNames[]" required></span>
                                <span>
                                    <input class="small_button" type="button" onclick="appendName('name_inputs');" value="+">
                                </span>
                            </li>
                            <br><small>Quick Tip: Adding more names allows users to search for this biomarker more easily.</small>
                            <br><br>
                        </ul>
                        <span class="editing_header">Other Biomarker Information<br><br></span>
                        <ul class="editing_lists">
                            <li>
                                <span style="font-weight: bold;">Medium: &nbsp;</span>
                                <select name=biomoleculeMedium>
                                    <option>Blood Plasma</option>
                                    <option>Protein Serum</option>
                                </select>
                                <br><small>The medium refers to where the biomolecule is found or discovered in the body.</small>
                            </li>
                            <br>
                            <li>
                                <span style="font-weight: bold;">Type: &nbsp;</span>
                                <span><input type="text" name="biomoleculeMedium" required></span>
                            </li>
                        </ul>
                    </div>
                    <div id="submit_editing_section">
                        <span id="alternate-submit-button-text">A button will appear to submit the biomarker to Markerville when all fields are completed.<br><br></span>
                        <span id="editing-submit-button"><input type="submit" id="submit_button" value="Add Biomarker"><br><br></span>
                    </div>
                </form>
                <script type="text/javascript">showSubmit();</script> <!-- HIDE SUBMIT BUTTON AT STARTUP -->
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% if(logged_in) { %>
<% include ../partials/navbar_loggedin %>
<% } else { %>
<% include ../partials/navbar %>
<% } %>

</html>
