<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body id="top">

    <div id="wrapper">

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <% include ../partials/header %>
            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <% if(search_failed) { %>
                    <div style="text-align: center;">
                        <strong><%= biomarkerName %></strong>
                        could not be found in the Markerville database.<br><br>
                    </div>
                <% } %>
                <form id="main_search_bar" method="get">
                    <span id="search_bar_spacing">
                        <input type="search" id="search_bar" name="biomarker" placeholder="Search..." required>
                    </span>
                    <input type="button" id="search_button" value="Search">
                </form>
                <br>
            </section>
        </div>

        <div id="attribute_list">
            <ul>
                <li class="attribute" style="display: inline-block">
                    <img id="biomarker_attribute_img"
                    src="images/biomarkers_attribute.png" alt="Biomarkers" width="60%" height="60%">
                    <h3>8+ Biomarkers</h3>
                </li>
                <li class="attribute" style="display: inline-block">
                    <img id="disease_attribute_img"
                    src="images/diseases_attribute.png" alt="Diseases" width="60%" height="60%">
                    <h3>10+ Diseases</h3>
                </li>
            </ul>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <% include ../partials/footer %>
            </footer>
        </div>

    </div><!-- END WRAPPER -->

</body>

<% include ../partials/navbar %>

</html>
